{% extends 'base.html' %}

{% block content %}
        <h1>Dog List</h1>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Breed</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                {% for dog in dogs %}
                    <tr>
                        <td>{{ dog.name }}</td>
                        <td>{{ dog.breed }}</td>
                        <td>{{ dog.age }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}